<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>430371256560-unbttdtfql5025r9f9r0r31i4d075vvi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.430371256560-unbttdtfql5025r9f9r0r31i4d075vvi</string>
	<key>API_KEY</key>
	<string>AIzaSyCTJflXhjdy_sI58_YQ-Rtf4SXmb0heYaY</string>
	<key>GCM_SENDER_ID</key>
	<string>430371256560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Prasad.Medical.App</string>
	<key>PROJECT_ID</key>
	<string>prasad-medical-20ba2</string>
	<key>STORAGE_BUCKET</key>
	<string>prasad-medical-20ba2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:430371256560:ios:a906157aa8dcc1b2</string>
	<key>DATABASE_URL</key>
	<string>https://prasad-medical-20ba2.firebaseio.com</string>
</dict>
</plist>
