
<ion-content padding class="bg-blue center-items">

  <img class="circle-pic top-margin-10"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJAhFDqzmYWuS10TZEOm_QcPz0X9GQOweXHMHwdHYf-OW2MZmc">

  <br><br>
  <div class="header-font">PRASAD MEDICAL</div>
  <div class="desc-font">And General stores, Pratap Nagar, Nagpur</div>


  <br><br><br>
  <div class="para-line-height subdesc-font">
    <div>Welcome to our mobile app.</div>
    <div>The ease and comfort of shopping medicines online is here.</div>
    <div>Order your medicines in few simple steps. Home delivery & pickup available.</div>
  </div>

  <div class="footer">
    <button *ngIf="afterSplash" ion-button round secondary class="btn-white" (click)="goToLogin()">Login</button>
    <ion-label *ngIf="afterSplash" class="desc-font" (click)="goToSignUp()">New User? Sign up here</ion-label>
  </div>
</ion-content>
