<ion-header>
  <ion-navbar class="header">

    <ion-title>
      <ion-grid>
         <ion-row>

            <img class="circle-pic"
              src="assets/imgs/logo.png">

            <ion-col>
              <div class="col-sm-6 col-xs-6 col-md-6 lft-margin-3">
                <div class="title-font">PRASAD MEDICAL</div>
                <div class="desc-font">And General stores,</div>
                <div class="desc-font">Pratap Nagar, Nagpur</div>
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>

  </ion-navbar>
</ion-header>


<ion-content padding >

  <div class="">
    <div class="label-font" *ngIf="items.length == 0">No Items added</div>
    <div class="label-font" *ngIf="items.length != 0">Your Items</div>

    <ion-auto-complete [dataProvider]="recursiveSearchService"></ion-auto-complete>

    <div>
      <ion-item class="input-width">
        <ion-label floating class="input-label"> Enter Item name </ion-label>
        <ion-input [(ngModel)]="itemName"
          type="text"> </ion-input>
      </ion-item>
    </div>

    <br><br>
    <div>
      <ion-list>
        <div *ngFor="let item of items; let i = index" class="row item-font">
          <ion-label class="input-label"> {{item.item_name}} </ion-label>

          <ion-icon item-right name="add-circle" (click)="increaseQuanity(i)"></ion-icon>
          <span class="rl-padding-3">{{item.item_quantity}}</span>
          <ion-icon item-right name="remove" (click)="decreaseQuanity(i)"></ion-icon>
        </div>
      </ion-list>
    </div>
  </div>

  <div class="center-items footer" >
    <div>
      <button ion-button secondary (click)="addItem(itemName)" class="btn-blue">Add Item</button>
    </div>
    <div>
      <button ion-button secondary (click)="goToReviewOrder()" class="btn-blue">Place Order</button>
    </div>
  </div>

</ion-content>
