<ion-header>
  <ion-navbar  class="header">

    <ion-title>
      <ion-grid>
         <ion-row>

            <img class="circle-pic"
              src="assets/imgs/logo.png">

            <ion-col>
              <div class="col-sm-6 col-xs-6 col-md-6 lft-margin-3">
                <div class="title-font">PRASAD MEDICAL</div>
                <div class="desc-font">And General stores,</div>
                <div class="desc-font">Pratap Nagar, Nagpur</div>
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>

    <ion-buttons right>
      <button ion-button menuToggle color="white">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
      <ion-grid>
          <ion-row>
              <ion-col>
                <ion-item class="input-width">
                  <ion-label floating class="input-label"> Bill Number </ion-label>
                  <ion-input [(ngModel)]="order.billNumber" class="input-font" type="number" [disabled] = "true"> </ion-input>
                </ion-item>
              </ion-col>

              <ion-col>
                <ion-item class="input-width">
                  <ion-label floating  class="input-label"> Order placed on </ion-label>
                  <ion-input [(ngModel)]="order.placedDate" class="input-font" type="text" [disabled] = "true"> </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                  <ion-item class="input-width">
                    <ion-label floating class="input-label"> Type </ion-label>
                    <ion-input [(ngModel)]="order.mode"  class="input-font" type="text" [disabled] = "true"> </ion-input>
                  </ion-item>
                </ion-col>

                <ion-col>
                  <ion-item class="input-width">
                    <ion-label floating  class="input-label"> Status </ion-label>
                    <ion-input [(ngModel)]="order.status"  class="input-font" type="text" [disabled] = "true"> </ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
      </ion-grid>

      <br>
      <div class="rl-padding-8" *ngIf="smallImgs.length != 0">
        <div class="label-font">Your Prescriptions</div>
        <ion-list>
          <button ion-item *ngFor="let smallImg of smallImgs; let i = index"  (click)="deletePrescription(i)">
            <ion-icon name="close" class="cross-over-img"></ion-icon>
            <img [src]="smallImg" *ngIf="smallImg" class="circle-pic">
          </button>
        </ion-list>
      </div>

      <div class="rl-padding-8" *ngIf="items.length != 0">
        <div class="label-font">Your Items</div>
        <ion-list>
          <div *ngFor="let item of items; let i = index" class="row item-font">
            <ion-label class="input-label"> {{item.itemName}} </ion-label>

            <ion-icon item-right name="add-circle" (click)="increaseQuanity(i)"></ion-icon>
            <span class="rl-padding-3">{{item.quantity}}</span>
            <ion-icon item-right name="remove" (click)="decreaseQuanity(i)"></ion-icon>
          </div>
        </ion-list>
      </div>

      <div class="center-items">
        <button ion-button secondary class="btn-blue" type="submit" (click)="gotToSelectMode()">REORDER</button>
      </div>

      <div class="center-items">
        <button ion-button secondary class="btn-blue" (click)="confirmCancel()">CANCEL ORDER</button>
      </div>

  </div>
</ion-content>
