<ion-header>
  <ion-navbar  class="header">

    <ion-title>
      <ion-grid>
         <ion-row>

            <img class="circle-pic"
              src="assets/imgs/logo.png">

            <ion-col>
              <div class="col-sm-6 col-xs-6 col-md-6 lft-margin-3">
                <div class="title-font">PRASAD MEDICAL</div>
                <div class="desc-font">And General stores,</div>
                <div class="desc-font">Pratap Nagar, Nagpur</div>
              </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title>

    <ion-buttons right>
      <button ion-button menuToggle color="white">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="blue-font">
      <ion-grid>
          <ion-row>
              <ion-col>
                <ion-item class="input-width">
                  <ion-label floating class="input-label"> Bill Number </ion-label>
                  <ion-input [(ngModel)]="order.order_id" class="input-font" type="number" [disabled] = "true"> </ion-input>
                </ion-item>
              </ion-col>

              <ion-col>
                <ion-item class="input-width">
                  <ion-label floating  class="input-label"> Order placed on </ion-label>
                  <ion-input [(ngModel)]="order.created_at" class="input-font" [disabled] = "true"> </ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
                <ion-col>
                  <ion-item class="input-width">
                    <ion-label floating class="input-label"> Type </ion-label>
                    <ion-input [(ngModel)]="order.order_mode"  class="input-font" type="text" [disabled] = "true"> </ion-input>
                  </ion-item>
                </ion-col>

                <ion-col>
                  <ion-item class="input-width">
                    <ion-label floating  class="input-label"> Status </ion-label>
                    <ion-input [(ngModel)]="order.order_status"  class="input-font" type="text" [disabled] = "true"> </ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
      </ion-grid>

      <hr>
      <br>
      <div class="rl-padding-8 label-font" *ngIf="smallImgs.length == 0">
        No Prescriptions added
      </div>
      <div class="rl-padding-8" *ngIf="smallImgs.length != 0">
        <div class="label-font">Your Prescriptions</div>
        <ion-list>
          <button ion-item *ngFor="let smallImg of smallImgs; let i = index">
            <img [src]="smallImg.prescription" *ngIf="smallImg" class="circle-pic">
          </button>
        </ion-list>
      </div>

      <hr>

      <div class="rl-padding-8 label-font" *ngIf="items.length == 0">
        No items added
      </div>
      <div class="rl-padding-8" *ngIf="items.length != 0">
        <div class="label-font">Your Items</div>
        <ion-list>
          <div *ngFor="let item of items; let i = index" class="item-font bt-margin-3">
            <div class="blue-font">Item:  {{item.item_name}} </div>
            <div class="">Amount: {{item.item_price}} &#8377; </div>
            <div class="">Quantity: {{item.item_quantity}}</div>
          </div><br>
        </ion-list>
      </div>

      <hr>
      <div class="center-items" *ngIf="order.order_status!='Pending'">
        <button ion-button secondary class="btn-blue" type="submit" (click)="gotToSelectMode()">REORDER</button>
      </div>

      <div class="center-items" *ngIf="order.order_status=='Pending'">
        <button ion-button secondary class="btn-blue" (click)="confirmCancel()">CANCEL ORDER</button>
      </div>

  </div>
</ion-content>
